<strong>Olá {{ name }} </strong>
<p>Você foi cadastrado na plataforma, segue as credenciais abaixo:</p>
<p>
  <strong>Usuário:</strong> {{ email }} <br>
  <strong>Senha:</strong> {{ password }}  <br> <br>

  <a href="{{ link }}"></a>
</p>
